/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* header section designs */
.navigation{
    padding: 42px 123px 0 156px;
    display: flex;
    justify-content: space-between;
}
.navigation .left a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 36px;
    color: white;
}
.go-to-button1 i{
    font-size: 16px;
}
.header-design{
    width: 100%;
    height: 677px;
    background-color: #3838bd;
}
.header-title img{
    width: 130px;
    height: 130px;
}
.header-title{
    width: 485px;
    height: 230px;
    padding-top: 40px;
    padding-left: 156px;
}
.header-title h1{
    font-size: 64px;
    font-weight: 700;
    color: white;
    margin-top: 0;
    margin-bottom: 27px;
}
.banner img{
    width: 556px;
    height: 456px;
    margin: 0;
    padding-top: 85px;
    padding-left: 102px;
}
.title-banner{
    display: flex;
}
.go-to-button1:hover,
.go-to-button2:hover{
    background-color: pink;
    color: #464243;
    transition: background-color .8s ease-out;
}
.banner:hover img
{
    transform: scale(1.12);
    transition: transform 1s ease-out;
}
/* mid section */
.player-card-section-title{
    color:#9e9797;
    margin-left: 190px;
    margin-right: 175px;
    margin-top: 75px;
    background-image: linear-gradient(to right, #fdfd8e, #dd6767d0, #ff929200);
}
.player-card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 27px;
    margin-left: 180px;
    margin-right: 210px;
}
.player-card{
    width: 330px;
    height: 500px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
.player-img img{
    width: 300px;
    height: 256px;
    margin: 15px 15px 0 15px;
}
.nameandsummary{
    margin-left: 15px;
}
.player-name{
    color: #18191F;
    font-size: 28px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 0;
}
.player-summary{
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    color: #6C6C6C;
}

/* story section: 3rd */
.top-stories{
    margin-top: 75px;
}
.top-story-1{
    display: flex;
}
.top-story-1-summary{
    width: 469px;
    height: 309px;
    margin-left: 182px;
    margin-right: 66px;
}
.title{
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
    margin-bottom: 0px;
}
.summary{
    color: #6C6C6C;
    margin-top: 8px;
}
.go-to-button2, 
.go-to-button1{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.top-story-1-img img{
    width: 567px;
    height: 427px;
    margin-right: 156px;
}
.top-story-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    margin-left: 250px;
    margin-top: 40px;
}
.top-story-2,
.top-story-3{
    height: 150px;
    width: 300px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.250);
    text-align: center;
}
/* footer images and icons */
footer{
    margin-top: 158px;
    text-align: center;
}
.footer-img img{
    width: 484px;
    height: 110px;
    margin-bottom: 20px;
}
.social-media a img{
    height: 32px;
    width: 32px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.copyright{
    color: grey;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
}

/* design for phone and tablets */
@media only screen and (max-width: 688px) {
    .player-card-section, .top-stories, .top-story-grid, footer, .top-story-1-img{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    .title-banner, .top-story-1, .footer-img img{
        width: 100%;
        flex-direction: column;
    }
    .header-title, .top-story-1-summary, .player-card-section, .banner{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .header-design{
        height: 1000px;
    }
    .header-title h1{
        font-size: 57px;

    }
    .banner img{
        transform: scale(.60);
        padding: 0;
        margin-left: 0;
        margin-top: 170px;
    }
    .title{
        font-size: 40px;
    }
    .top-story-1-img{
        height: 150px;
        width: 150px;
    }
    .top-story-1-img img{
        width: 411px;
        margin-right: 0;
    }
    .top-story-grid{
        margin-left: 0;
        margin-top: 300px;
    }
}
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .player-card-section, .top-stories, .header-design, .top-story-grid, footer{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
    
}